* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    background-image: url('imagem/woman-2592247_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin: 0 auto;
}

#title {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#title1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300; 
    font-size: 3.1rem;
    color: #333;
    text-align: center;
}

#sub-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 300; 
    font-size: 1.3rem;
    color: #333;
    text-align: center;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    justify-content: center;
}

.input-field {
    background-color: transparent;
    font-size: 1.7rem;
    border: none;
    border-bottom: 2px solid #080808;
    outline: none;
    padding: 0.2rem 0;
}

.placeholder {
    color: red;
}

.input-field::-webkit-outer-spin-button,
.input-field::-webkit-inner-spin-button {
    -webkit-appearance: none; 
    margin: 0;
}

#button {
    text-align: center;
    
}

.Botao {
    margin-top: 1.0rem;
    font-size: 1.5rem;
    padding-left: 3.0rem;
    padding-right: 3.0rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: lightgray;
    
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.Botao:hover {
    color: #242020;
}

.Botao:active {
    transform: translateY(0.7px);
}

#result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    transition-delay: 0.5s;
}

#result {
    font-size: 2rem;
    font-weight: bold;
}

#msg {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: black;
    width: 30rem;
    text-align: center;
    transition-delay: 0.7s;
}

#Link {
    display: none;
}

#Link a {
    font-family: Arial, sans-serif;
    font-weight: 100;
}

#result-container, #msg {
    opacity: 0;
    transition: opacity 0.5s ease;
}